$color_1: #444;
$color_2: #4fa6d5;
$color_3: #45beff;
$color_4: #fff;
$color_5: #a2cce3;
$color_6: #1c3745;
$color_7: #68A4C4;
$color_8: #1e4356;
$color_9: #6c757d;
$color_10: #111;
$color_11: #ff689b;
$color_12: #3fcdc7;
$color_13: #41cf2e;
$color_14: #2282ff;
$color_15: #343a40;
$color_16: #999;
$color_17: #fbfcfd;
$color_18: #5e5e5e;
$color_19: #777777;
$color_20: #bababa;
$color_21: #ccc;
$color_22: rgba(255, 255, 255, 0.6);
$color_23: white;
$color_24: #666;
$color_25: #72afce;
$color_26: #4c99c1;
$color_27: #255269;
$color_28: rgba(30, 67, 86, 0.5);
$color_29: #b7b7b7;
$color_30: #2b607c;
$color_31: #387ea2;
$color_32: #aaaaaa;
$color_33: #3f8db5;
$color_34: #bedae8;
$font-family_1: "Open Sans", sans-serif;
$font-family_2: "Roboto", sans-serif;
$background-color_1: #fff;
$background-color_2: #f3f8fa;
$background-color_3: #68A4C4;
$background-color_4: #fafafa;
$background-color_5: #1e4356;
$background-color_6: #255269;
$border-color_1: #ff689b;
$border-color_2: #3fcdc7;
$border-color_3: #41cf2e;
$border-color_4: #2282ff;
$border-color_5: #68A4C4;
$border-color_6: #b1d0e1;
$border-top-color_1: #eee;


@keyframes pulsate-btn {
	0% {
		transform: scale(0.6, 0.6);
		opacity: 1;
	}

	100% {
		transform: scale(1, 1);
		opacity: 0;
	}
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Our Skills
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Tetstimonials
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Service Details
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
@keyframes animate-loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/*--------------------------------------------------------------
# Map
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
body {
	font-family: $font-family_1;
	color: $color_1;
}

a {
	color: $color_2;
	text-decoration: none;

	&:hover {
		color: $color_3;
		text-decoration: none;
	}
}

h1 {
	font-family: $font-family_2;
}

h2 {
	font-family: $font-family_2;
}

h3 {
	font-family: $font-family_2;
}

h4 {
	font-family: $font-family_2;
}

h5 {
	font-family: $font-family_2;
}

h6 {
	font-family: $font-family_2;
}

.font-primary {
	font-family: $font-family_2;
}

.back-to-top {
	position: fixed;
	visibility: hidden;
	opacity: 0;
	right: 15px;
	bottom: 15px;
	z-index: 99999;
	background: #68A4C4;
	width: 40px;
	height: 40px;
	border-radius: 4px;
	transition: all 0.4s;

	i {
		font-size: 24px;
		color: $color_4;
		line-height: 0;
	}

	&:hover {
		background: #85b6cf;
		color: $color_4;
	}
}

.back-to-top.active {
	visibility: visible;
	opacity: 1;
}

#header {
	height: 80px;
	transition: all 0.5s;
	z-index: 997;
	transition: all 0.5s;
	background: #1e4356;

	.logo {
		h1 {
			font-size: 28px;
			margin: 0;
			padding: 4px 0;
			line-height: 1;
			font-weight: 400;
			letter-spacing: 3px;
			text-transform: uppercase;

			a {
				color: $color_4;
				text-decoration: none;

				&:hover {
					color: $color_4;
					text-decoration: none;
				}
			}
		}

		img {
			padding: 0;
			margin: 0;
			height: 110px;
			border-radius: 0px 0px 20px 20px;
		}
	}
}

#header.header-transparent {
	background: none;
}

#header.header-scrolled {
	background: rgba(30, 67, 86, 0.8);
	height: 60px;
}

#main {
	margin-top: 80px;
}

.navbar {
	padding: 0;

	ul {
		margin: 0;
		padding: 0;
		display: flex;
		list-style: none;
		align-items: center;
	}

	li {
		position: relative;

		&:hover {
			>a {
				color: $color_5;
			}
		}
	}

	a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0 10px 30px;
		font-family: $font-family_1;
		font-size: 14px;
		color: $color_4;
		white-space: nowrap;
		transition: 0.3s;

		&:focus {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px 0 10px 30px;
			font-family: $font-family_1;
			font-size: 14px;
			color: $color_4;
			white-space: nowrap;
			transition: 0.3s;

			i {
				font-size: 12px;
				line-height: 0;
				margin-left: 5px;
			}
		}

		i {
			font-size: 12px;
			line-height: 0;
			margin-left: 5px;
		}

		&:hover {
			color: $color_5;
		}
	}

	.active {
		color: $color_5;

		&:focus {
			color: $color_5;
		}
	}

	.dropdown {
		ul {
			display: block;
			position: absolute;
			left: 14px;
			top: calc(100% + 30px);
			margin: 0;
			padding: 10px 0;
			z-index: 99;
			opacity: 0;
			visibility: hidden;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
			transition: 0.3s;

			li {
				min-width: 200px;

				&:hover {
					>a {
						color: $color_7;
					}
				}
			}

			a {
				padding: 10px 20px;
				font-size: 14px;
				text-transform: none;
				color: $color_6;

				i {
					font-size: 12px;
				}

				&:hover {
					color: $color_7;
				}
			}

			.active {
				&:hover {
					color: $color_7;
				}
			}
		}

		&:hover {
			>ul {
				opacity: 1;
				top: 100%;
				visibility: visible;
			}
		}

		.dropdown {
			ul {
				top: 0;
				left: calc(100% - 30px);
				visibility: hidden;
			}

			&:hover {
				>ul {
					opacity: 1;
					top: 0;
					left: 100%;
					visibility: visible;
				}
			}
		}
	}
}

.mobile-nav-toggle {
	color: $color_4;
	font-size: 28px;
	cursor: pointer;
	display: none;
	line-height: 0;
	transition: 0.5s;
}

.navbar-mobile {
	position: fixed;
	overflow: hidden;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(17, 38, 48, 0.9);
	transition: 0.3s;

	.mobile-nav-toggle {
		position: absolute;
		top: 15px;
		right: 15px;
	}

	ul {
		display: block;
		position: absolute;
		top: 55px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		padding: 10px 0;
		background-color: $background-color_1;
		overflow-y: auto;
		transition: 0.3s;
	}

	a {
		padding: 10px 20px;
		font-size: 15px;
		color: $color_8;

		&:focus {
			padding: 10px 20px;
			font-size: 15px;
			color: $color_8;
		}

		&:hover {
			color: $color_7;
		}
	}

	.active {
		color: $color_7;
	}

	li {
		&:hover {
			>a {
				color: $color_7;
			}
		}
	}

	.getstarted {
		margin: 15px;

		&:focus {
			margin: 15px;
		}
	}

	.dropdown {
		ul {
			position: static;
			display: none;
			margin: 10px 20px;
			padding: 10px 0;
			z-index: 99;
			opacity: 1;
			visibility: visible;
			background: #fff;
			box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);

			li {
				min-width: 200px;

				&:hover {
					>a {
						color: $color_7;
					}
				}
			}

			a {
				padding: 10px 20px;

				i {
					font-size: 12px;
				}

				&:hover {
					color: $color_7;
				}
			}

			.active {
				&:hover {
					color: $color_7;
				}
			}
		}

		>.dropdown-active {
			display: block;
		}
	}
}

#hero {
	width: 100%;
	height: 90vh;
	overflow: hidden;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		width: 130%;
		height: 95%;
		background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("../img/living-room-1835923_1920.jpg") center top no-repeat;
		z-index: 0;
		border-radius: 0 0 50% 50%;
		transform: translateX(-50%) rotate(0deg);
	}

	&::before {
		content: "";
		position: absolute;
		left: 50%;
		top: 0;
		width: 130%;
		height: 96%;
		background: #68A4C4;
		opacity: 0.3;
		z-index: 0;
		border-radius: 0 0 50% 50%;
		transform: translateX(-50%) translateY(18px) rotate(2deg);
	}

	.carousel-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		bottom: 0;
		top: 0;
		left: 0;
		right: 0;
	}

	h2 {
		color: $color_4;
		margin-bottom: 30px;
		font-size: 48px;
		font-weight: 700;
	}

	p {
		width: 80%;
		animation-delay: 0.4s;
		margin: 0 auto 30px auto;
		color: $color_4;
	}

	.carousel-control-prev {
		width: 10%;
	}

	.carousel-control-next {
		width: 10%;
	}

	.carousel-control-next-icon {
		background: none;
		font-size: 48px;
		line-height: 1;
		width: auto;
		height: auto;
	}

	.carousel-control-prev-icon {
		background: none;
		font-size: 48px;
		line-height: 1;
		width: auto;
		height: auto;
	}

	.btn-get-started {
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 1px;
		display: inline-block;
		padding: 12px 32px;
		border-radius: 50px;
		transition: 0.5s;
		line-height: 1;
		margin: 10px;
		color: $color_4;
		animation-delay: 0.8s;
		border: 2px solid #68A4C4;

		&:hover {
			background: #68A4C4;
			color: $color_4;
			text-decoration: none;
		}
	}
}

#hero-no-slider {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
	text-align: center;

	&::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(to right, rgba(30, 67, 86, 0.8), rgba(30, 67, 86, 0.6)), url("../img/hero-bg.jpg") center top no-repeat;
	}

	h2 {
		color: $color_4;
		margin-bottom: 15px;
		font-size: 48px;
		font-weight: 700;
	}

	p {
		color: $color_4;
	}

	.btn-get-started {
		font-family: $font-family_2;
		font-weight: 500;
		font-size: 14px;
		letter-spacing: 1px;
		display: inline-block;
		padding: 12px 32px;
		border-radius: 50px;
		transition: 0.5s;
		line-height: 1;
		margin: 10px;
		color: $color_4;
		animation-delay: 0.8s;
		border: 2px solid #68A4C4;

		&:hover {
			background: #68A4C4;
			color: $color_4;
			text-decoration: none;
		}
	}
}

section {
	padding: 60px 0;
}

.section-bg {
	background-color: $background-color_2;
}

.section-title {
	text-align: center;
	padding-bottom: 30px;

	h2 {
		font-size: 28px;
		font-weight: 400;
		margin-bottom: 20px;
		padding-bottom: 20px;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			display: block;
			width: 120px;
			height: 1px;
			background: #ddd;
			bottom: 1px;
			left: calc(50% - 60px);
		}

		&::after {
			content: "";
			position: absolute;
			display: block;
			width: 40px;
			height: 3px;
			background: #68A4C4;
			bottom: 0;
			left: calc(50% - 20px);
		}
	}

	p {
		margin-bottom: 0;
	}
}

.breadcrumbs {
	padding: 15px 0;
	background-color: $background-color_2;
	min-height: 40px;

	h2 {
		font-size: 28px;
		font-weight: 300;
	}

	ol {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0;

		li+li {
			padding-left: 10px;

			&::before {
				display: inline-block;
				padding-right: 10px;
				color: $color_9;
				content: "/";
			}
		}
	}
}

.services {
	padding-bottom: 20px;

	.icon-box {
		padding: 30px;
		position: relative;
		overflow: hidden;
		margin: 0 0 40px 0;
		background: #fff;
		box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
		transition: all 0.3s ease-in-out;
		text-align: center;
		border: 1px solid #fff;
	}

	.icon {
		margin: 0 auto 20px auto;
		padding-top: 17px;
		display: inline-block;
		text-align: center;
		border-radius: 50%;
		width: 72px;
		height: 72px;

		i {
			font-size: 36px;
			line-height: 1;
		}
	}

	.title {
		font-weight: 700;
		margin-bottom: 15px;
		font-size: 18px;

		a {
			color: $color_10;
		}
	}

	.description {
		font-size: 15px;
		line-height: 28px;
		margin-bottom: 0;
	}

	.icon-box-pink {
		.icon {
			background: #fceef3;

			i {
				color: $color_11;
			}
		}

		&:hover {
			border-color: $border-color_1;
		}
	}

	.icon-box-cyan {
		.icon {
			background: #e6fdfc;

			i {
				color: $color_12;
			}
		}

		&:hover {
			border-color: $border-color_2;
		}
	}

	.icon-box-green {
		.icon {
			background: #eafde7;

			i {
				color: $color_13;
			}
		}

		&:hover {
			border-color: $border-color_3;
		}
	}

	.icon-box-blue {
		.icon {
			background: #e1eeff;

			i {
				color: $color_14;
			}
		}

		&:hover {
			border-color: $border-color_4;
		}
	}
}

.why-us {
	.container {
		box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
		background: #fff;
	}

	.icon-box+.icon-box {
		margin-top: 50px;
	}

	.icon-box {
		.icon {
			float: left;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 72px;
			height: 72px;
			background: #f3f8fa;
			border-radius: 6px;
			transition: 0.5s;

			i {
				color: $color_7;
				font-size: 32px;
			}
		}

		&:hover {
			.icon {
				background: #68A4C4;

				i {
					color: $color_4;
				}
			}
		}

		.title {
			margin-left: 95px;
			font-weight: 700;
			margin-bottom: 10px;
			font-size: 18px;
			text-transform: uppercase;

			a {
				color: $color_15;
				transition: 0.3s;

				&:hover {
					color: $color_7;
				}
			}
		}

		.description {
			margin-left: 95px;
			line-height: 24px;
			font-size: 14px;
		}
	}

	.video-box {
		position: relative;

		img {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}

	
}

.features {
	img{
		border-radius: 15px 40px;
	}
	.row+.row {
		margin-top: 100px;
	}

	h3 {
		font-weight: 400;
		font-size: 24px;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			padding-bottom: 10px;
		}

		i {
			font-size: 20px;
			padding-right: 4px;
			color: $color_7;
		}
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.about {
	h3 {
		font-weight: 400;
		font-size: 26px;
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			padding-bottom: 10px;
		}

		i {
			font-size: 20px;
			padding-right: 4px;
			color: $color_7;
		}
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.facts {
	.counters {
		span {
			font-size: 48px;
			display: block;
			color: $color_7;
		}

		p {
			padding: 0;
			margin: 0 0 20px 0;
			font-family: $font-family_2;
			font-size: 14px;
		}
	}
}

.skills {
	padding: 60px 0;

	.progress {
		height: 35px;
		margin-bottom: 10px;

		.skill {
			line-height: 35px;
			padding: 0;
			margin: 0 0 0 20px;
			text-transform: uppercase;

			.val {
				float: right;
				font-style: normal;
				margin: 0 20px 0 0;
			}
		}
	}

	.progress-bar {
		width: 1px;
		text-align: left;
		transition: 0.9s;
	}
}

.testimonials {
	padding: 60px 0;

	.section-header {
		margin-bottom: 40px;
	}

	.testimonials-carousel {
		overflow: hidden;
	}

	.testimonial-item {
		text-align: center;

		.testimonial-img {
			width: 120px;
			border-radius: 50%;
			border: 4px solid #fff;
			margin: 0 auto;
		}

		h3 {
			font-size: 20px;
			font-weight: bold;
			margin: 10px 0 5px 0;
			color: $color_10;
		}

		h4 {
			font-size: 14px;
			color: $color_16;
			margin: 0 0 15px 0;
		}

		.quote-icon-left {
			color: $color_17;
			font-size: 26px;
			display: inline-block;
			left: -5px;
			position: relative;
		}

		.quote-icon-right {
			color: $color_17;
			font-size: 26px;
			display: inline-block;
			right: -5px;
			position: relative;
			top: 10px;
		}

		p {
			font-style: italic;
			margin: 0 auto 15px auto;
		}
	}

	.swiper-pagination {
		margin-top: 20px;
		position: relative;

		.swiper-pagination-bullet {
			width: 12px;
			height: 12px;
			background-color: $background-color_1;
			opacity: 1;
			border: 1px solid #68A4C4;
		}

		.swiper-pagination-bullet-active {
			background-color: $background-color_3;
		}
	}
}

.service-details {
	padding-bottom: 10px;

	.card {
		border: 0;
		padding: 0 30px;
		margin-bottom: 60px;
		position: relative;

		&:hover {
			img {
				transform: scale(1.1);
			}

			.card-body {
				border-color: $border-color_5;

				.card-title {
					a {
						color: $color_7;
					}
				}
			}
		}
	}

	.card-img {
		width: calc(100% + 60px);
		margin-left: -30px;
		overflow: hidden;
		z-index: 9;
		border-radius: 0;

		img {
			max-width: 100%;
			transition: all 0.3s ease-in-out;
		}
	}

	.card-body {
		z-index: 10;
		background: #fff;
		border-top: 4px solid #fff;
		padding: 30px;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
		margin-top: -60px;
		transition: 0.3s;
	}

	.card-title {
		font-weight: 700;
		text-align: center;
		margin-bottom: 20px;

		a {
			color: $color_8;
			transition: 0.3s;
		}
	}

	.card-text {
		color: $color_18;
	}

	.read-more {
		a {
			color: $color_19;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 12px;
			transition: 0.3s;

			&:hover {
				color: $color_7;
			}
		}
	}
}

.pricing {
	.row {
		padding-top: 40px;
	}

	.box {
		padding: 40px;
		margin-bottom: 30px;
		box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
		background: #fff;
		text-align: center;
	}

	h3 {
		font-weight: 300;
		margin-bottom: 15px;
		font-size: 28px;
	}

	h4 {
		font-size: 46px;
		color: $color_7;
		font-weight: 400;
		font-family: $font-family_1;
		margin-bottom: 25px;

		span {
			color: $color_20;
			font-size: 18px;
			display: block;
		}
	}

	ul {
		padding: 0;
		list-style: none;
		color: $color_16;
		text-align: left;
		line-height: 20px;

		li {
			padding-bottom: 12px;
		}

		i {
			color: $color_7;
			font-size: 18px;
			padding-right: 4px;
		}

		.na {
			color: $color_21;

			i {
				color: $color_21;
			}

			span {
				text-decoration: line-through;
			}
		}
	}

	.get-started-btn {
		background: #1e4356;
		display: inline-block;
		padding: 6px 30px;
		border-radius: 20px;
		color: $color_4;
		transition: none;
		font-size: 14px;
		font-weight: 400;
		font-family: $font-family_2;
		transition: 0.3s;

		&:hover {
			background: #68A4C4;
		}
	}

	.featured {
		z-index: 10;
		margin: -30px -5px 0 -5px;

		.get-started-btn {
			background: #68A4C4;

			&:hover {
				background: #85b6cf;
			}
		}
	}
}

.portfolio {
	padding-bottom: 60px;

	#portfolio-flters {
		padding: 0;
		margin: 0 0 35px 0;
		list-style: none;
		text-align: center;

		li {
			cursor: pointer;
			margin: 0 12px 5px 12px;
			display: inline-block;
			padding: 0 4px 6px 4px;
			font-size: 16px;
			font-weight: 500;
			line-height: 20px;
			color: $color_1;
			transition: all 0.3s ease-in-out;
			border-bottom: 2px solid #fff;
			font-family: $font-family_2;

			&:hover {
				border-color: $border-color_5;
				color: $color_7;
			}
		}

		li.filter-active {
			border-color: $border-color_5;
			color: $color_7;
		}
	}

	.portfolio-item {
		background: #1e4356;
		overflow: hidden;
		min-height: 200px;
		position: relative;
		border-radius: 4px;
		margin: 0 0 30px 0;

		img {
			transition: all 0.3s ease-in-out;
		}

		.portfolio-info {
			opacity: 0;
			position: absolute;
			transition: all 0.3s linear;
			text-align: center;
			top: 10%;
			left: 0;
			right: 0;

			h3 {
				font-size: 22px;
				color: $color_4;
				font-weight: bold;
			}

			a {
				i {
					color: $color_22;
					font-size: 28px;
					transition: 0.3s;

					&:hover {
						color: $color_23;
					}
				}
			}
		}

		&:hover {
			img {
				opacity: 0.6;
				transform: scale(1.1);
			}

			.portfolio-info {
				opacity: 1;
				top: calc(50% - 30px);
			}
		}
	}
}

.portfolio-details {
	padding-top: 40px;

	.portfolio-details-slider {
		img {
			width: 100%;
		}

		.swiper-pagination {
			margin-top: 20px;
			position: relative;

			.swiper-pagination-bullet {
				width: 12px;
				height: 12px;
				background-color: $background-color_1;
				opacity: 1;
				border: 1px solid #68A4C4;
			}

			.swiper-pagination-bullet-active {
				background-color: $background-color_3;
			}
		}
	}

	.portfolio-info {
		padding: 30px;
		box-shadow: 0px 0 30px rgba(30, 67, 86, 0.08);

		h3 {
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #eee;
		}

		ul {
			list-style: none;
			padding: 0;
			font-size: 15px;

			li+li {
				margin-top: 10px;
			}
		}
	}

	.portfolio-description {
		padding-top: 30px;

		h2 {
			font-size: 26px;
			font-weight: 700;
			margin-bottom: 20px;
		}

		p {
			padding: 0;
		}
	}
}

.team {
	background: #fff;
	padding-bottom: 30px;

	.member {
		margin-bottom: 20px;
		overflow: hidden;

		.member-img {
			position: relative;
			overflow: hidden;
		}

		.social {
			position: absolute;
			left: 0;
			bottom: -40px;
			right: 0;
			height: 40px;
			opacity: 0;
			transition: bottom ease-in-out 0.4s;
			text-align: center;
			background: rgba(30, 67, 86, 0.8);
			display: flex;
			align-items: center;
			justify-content: center;

			a {
				transition: color 0.3s;
				color: $color_4;
				margin: 0 12px;
				display: inline-block;

				&:hover {
					color: $color_7;
				}
			}

			i {
				font-size: 18px;
				margin: 0 2px;
			}
		}

		.member-info {
			h4 {
				font-weight: 700;
				margin: 15px 0 5px 0;
				font-size: 18px;
			}

			span {
				display: block;
				font-size: 13px;
				text-transform: uppercase;
				font-weight: 400;
				margin-bottom: 15px;
				color: $color_7;
			}

			p {
				font-style: italic;
				font-size: 14px;
				line-height: 26px;
				color: $color_24;
			}
		}

		&:hover {
			.social {
				bottom: 0;
				opacity: 1;
				transition: bottom ease-in-out 0.4s;

				a {
					line-height: 0;
					font-size: 18px;
				}

				i {
					line-height: 0;
					font-size: 18px;
				}
			}
		}
	}
}

.contact {
	padding-bottom: 30px;

	.info-box {
		color: $color_1;
		text-align: center;
		box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
		padding: 20px 0 30px 0;
		margin-bottom: 30px;

		i {
			font-size: 32px;
			color: $color_7;
			border-radius: 50%;
			padding: 8px;
			border: 2px dotted #a2cce3;
		}

		h3 {
			font-size: 20px;
			color: $color_24;
			font-weight: 700;
			margin: 10px 0;
		}

		p {
			padding: 0;
			line-height: 24px;
			font-size: 14px;
			margin-bottom: 0;
		}
	}

	.php-email-form {
		box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
		padding: 30px;
		margin-bottom: 30px;

		.error-message {
			display: none;
			color: $color_4;
			background: #ed3c0d;
			text-align: left;
			padding: 15px;
			font-weight: 600;

			br+br {
				margin-top: 25px;
			}
		}

		.sent-message {
			display: none;
			color: $color_4;
			background: #18d26e;
			text-align: center;
			padding: 15px;
			font-weight: 600;
		}

		.loading {
			display: none;
			background: #fff;
			text-align: center;
			padding: 15px;

			&:before {
				content: "";
				display: inline-block;
				border-radius: 50%;
				width: 24px;
				height: 24px;
				margin: 0 10px -6px 0;
				border: 3px solid #18d26e;
				border-top-color: $border-top-color_1;
				animation: animate-loading 1s linear infinite;
			}
		}

		input {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			padding: 10px 15px;

			&::focus {
				background-color: $background-color_3;
			}
		}

		textarea {
			border-radius: 0;
			box-shadow: none;
			font-size: 14px;
			padding: 12px 15px;

			&::focus {
				background-color: $background-color_3;
			}
		}

		button[type=submit] {
			background: #68A4C4;
			border: 0;
			padding: 10px 24px;
			color: $color_4;
			transition: 0.4s;

			&:hover {
				background: #8dbad2;
			}
		}
	}
}

.map {
	padding: 0;
	margin-bottom: -6px;

	iframe {
		width: 100%;
		height: 380px;
	}
}

.blog {
	padding: 40px 0 20px 0;

	.entry {
		padding: 30px;
		margin-bottom: 60px;
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

		.entry-img {
			max-height: 440px;
			margin: -30px -30px 20px -30px;
			overflow: hidden;
		}

		.entry-title {
			font-size: 28px;
			font-weight: bold;
			padding: 0;
			margin: 0 0 20px 0;

			a {
				color: $color_8;
				transition: 0.3s;

				&:hover {
					color: $color_7;
				}
			}
		}

		.entry-meta {
			margin-bottom: 15px;
			color: $color_25;

			ul {
				display: flex;
				flex-wrap: wrap;
				list-style: none;
				align-items: center;
				padding: 0;
				margin: 0;

				li+li {
					padding-left: 20px;
				}
			}

			i {
				font-size: 16px;
				margin-right: 8px;
				line-height: 0;
			}

			a {
				color: $color_19;
				font-size: 14px;
				display: inline-block;
				line-height: 1;
			}
		}

		.entry-content {
			p {
				line-height: 24px;
			}

			.read-more {
				-moz-text-align-last: right;
				text-align-last: right;

				a {
					display: inline-block;
					background: #68A4C4;
					color: $color_4;
					padding: 6px 20px;
					transition: 0.3s;
					font-size: 14px;

					&:hover {
						background: #7aafcb;
					}
				}
			}

			h3 {
				font-size: 22px;
				margin-top: 30px;
				font-weight: bold;
			}

			blockquote {
				overflow: hidden;
				background-color: $background-color_4;
				padding: 60px;
				position: relative;
				text-align: center;
				margin: 20px 0;

				p {
					color: $color_1;
					line-height: 1.6;
					margin-bottom: 0;
					font-style: italic;
					font-weight: 500;
					font-size: 22px;
				}

				&::after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					bottom: 0;
					width: 3px;
					background-color: $background-color_5;
					margin-top: 20px;
					margin-bottom: 20px;
				}
			}
		}

		.entry-footer {
			padding-top: 10px;
			border-top: 1px solid #e6e6e6;

			i {
				color: $color_26;
				display: inline;
			}

			a {
				color: $color_27;
				transition: 0.3s;

				&:hover {
					color: $color_7;
				}
			}

			.cats {
				list-style: none;
				display: inline;
				padding: 0 20px 0 0;
				font-size: 14px;

				li {
					display: inline-block;
				}
			}

			.tags {
				list-style: none;
				display: inline;
				padding: 0;
				font-size: 14px;

				li {
					display: inline-block;
				}

				li+li {
					&::before {
						padding-right: 6px;
						color: $color_9;
						content: ",";
					}
				}
			}

			.share {
				font-size: 16px;

				i {
					padding-left: 5px;
				}
			}
		}
	}

	.entry-single {
		margin-bottom: 30px;
	}

	.blog-author {
		padding: 20px;
		margin-bottom: 30px;
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

		img {
			width: 120px;
			margin-right: 20px;
		}

		h4 {
			font-weight: 600;
			font-size: 22px;
			margin-bottom: 0px;
			padding: 0;
			color: $color_8;
		}

		.social-links {
			margin: 0 10px 10px 0;

			a {
				color: $color_28;
				margin-right: 5px;
			}
		}

		p {
			font-style: italic;
			color: $color_29;
		}
	}

	.blog-comments {
		margin-bottom: 30px;

		.comments-count {
			font-weight: bold;
		}

		.comment {
			margin-top: 30px;
			position: relative;

			.comment-img {
				margin-right: 14px;

				img {
					width: 60px;
				}
			}

			h5 {
				font-size: 16px;
				margin-bottom: 2px;

				a {
					font-weight: bold;
					color: $color_1;
					transition: 0.3s;

					&:hover {
						color: $color_7;
					}
				}

				.reply {
					padding-left: 10px;
					color: $color_8;

					i {
						font-size: 20px;
					}
				}
			}

			time {
				display: block;
				font-size: 14px;
				color: $color_30;
				margin-bottom: 5px;
			}
		}

		.comment.comment-reply {
			padding-left: 40px;
		}

		.reply-form {
			margin-top: 30px;
			padding: 30px;
			box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

			h4 {
				font-weight: bold;
				font-size: 22px;
			}

			p {
				font-size: 14px;
			}

			input {
				border-radius: 4px;
				padding: 10px 10px;
				font-size: 14px;

				&:focus {
					box-shadow: none;
					border-color: $border-color_6;
				}
			}

			textarea {
				border-radius: 4px;
				padding: 10px 10px;
				font-size: 14px;

				&:focus {
					box-shadow: none;
					border-color: $border-color_6;
				}
			}

			.form-group {
				margin-bottom: 25px;
			}

			.btn-primary {
				border-radius: 4px;
				padding: 10px 20px;
				border: 0;
				background-color: $background-color_5;

				&:hover {
					background-color: $background-color_6;
				}
			}
		}
	}

	.blog-pagination {
		color: $color_31;

		ul {
			display: flex;
			padding: 0;
			margin: 0;
			list-style: none;
		}

		li {
			margin: 0 5px;
			transition: 0.3s;

			a {
				color: $color_8;
				padding: 7px 16px;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			&:hover {
				background: #68A4C4;

				a {
					color: $color_4;
				}
			}
		}

		li.active {
			background: #68A4C4;

			a {
				color: $color_4;
			}
		}
	}

	.sidebar {
		padding: 30px;
		margin: 0 0 60px 20px;
		box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

		.sidebar-title {
			font-size: 20px;
			font-weight: 700;
			padding: 0 0 0 0;
			margin: 0 0 15px 0;
			color: $color_8;
			position: relative;
		}

		.sidebar-item {
			margin-bottom: 30px;
		}

		.search-form {
			form {
				background: #fff;
				border: 1px solid #ddd;
				padding: 3px 10px;
				position: relative;

				input[type=text] {
					border: 0;
					padding: 4px;
					border-radius: 4px;
					width: calc(100% - 40px);
				}

				button {
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					border: 0;
					background: none;
					font-size: 16px;
					padding: 0 15px;
					margin: -1px;
					background: #68A4C4;
					color: $color_4;
					transition: 0.3s;
					border-radius: 0 4px 4px 0;
					line-height: 0;

					i {
						line-height: 0;
					}

					&:hover {
						background: #77adca;
					}
				}
			}
		}

		.categories {
			ul {
				list-style: none;
				padding: 0;

				li+li {
					padding-top: 10px;
				}

				a {
					color: $color_8;
					transition: 0.3s;

					&:hover {
						color: $color_7;
					}

					span {
						padding-left: 5px;
						color: $color_32;
						font-size: 14px;
					}
				}
			}
		}

		.recent-posts {
			.post-item+.post-item {
				margin-top: 15px;
			}

			img {
				width: 80px;
				float: left;
			}

			h4 {
				font-size: 15px;
				margin-left: 95px;
				font-weight: bold;

				a {
					color: $color_8;
					transition: 0.3s;

					&:hover {
						color: $color_7;
					}
				}
			}

			time {
				display: block;
				margin-left: 95px;
				font-style: italic;
				font-size: 14px;
				color: $color_32;
			}
		}

		.tags {
			margin-bottom: -10px;

			ul {
				list-style: none;
				padding: 0;

				li {
					display: inline-block;
				}

				a {
					color: $color_33;
					font-size: 14px;
					padding: 6px 14px;
					margin: 0 6px 8px 0;
					border: 1px solid #e4eff5;
					display: inline-block;
					transition: 0.3s;

					&:hover {
						color: $color_4;
						border: 1px solid #68A4C4;
						background: #68A4C4;
					}

					span {
						padding-left: 5px;
						color: $color_34;
						font-size: 14px;
					}
				}
			}
		}
	}
}

#footer {
	background: #0b212d;
	padding: 0 0 30px 0;
	color: $color_4;
	font-size: 14px;

	.footer-newsletter {
		padding: 50px 0;
		background: #0d2735;

		h4 {
			font-size: 24px;
			margin: 0 0 20px 0;
			padding: 0;
			line-height: 1;
			font-weight: 600;
			color: $color_5;
		}

		form {
			margin-top: 30px;
			background: #fff;
			padding: 6px 10px;
			position: relative;
			border-radius: 50px;

			input[type=email] {
				border: 0;
				padding: 4px;
				width: calc(100% - 100px);
			}

			input[type=submit] {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				border: 0;
				background: none;
				font-size: 16px;
				padding: 0 20px;
				margin: 3px;
				background: #68A4C4;
				color: $color_4;
				transition: 0.3s;
				border-radius: 50px;

				&:hover {
					background: #468db3;
				}
			}
		}
	}

	.footer-top {
		background: #0d2735;
		border-top: 1px solid #17455e;
		border-bottom: 1px solid #123649;
		padding: 60px 0 30px 0;

		.footer-info {
			margin-bottom: 30px;

			h3 {
				font-size: 18px;
				margin: 0 0 20px 0;
				padding: 2px 0 2px 0;
				line-height: 1;
				color: $color_5;
				font-weight: 600;
			}

			p {
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 0;
				font-family: $font-family_2;
				color: $color_4;
			}
		}

		.social-links {
			a {
				font-size: 18px;
				display: inline-block;
				background: #1e4356;
				color: $color_4;
				line-height: 1;
				padding: 8px 0;
				margin-right: 4px;
				border-radius: 50%;
				text-align: center;
				width: 36px;
				height: 36px;
				transition: 0.3s;

				&:hover {
					background: #68A4C4;
					color: $color_4;
					text-decoration: none;
				}
			}
		}

		h4 {
			font-size: 18px;
			font-weight: 600;
			color: $color_5;
			position: relative;
			padding-bottom: 12px;
		}

		.footer-links {
			margin-bottom: 30px;

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				i {
					padding-right: 2px;
					color: $color_5;
					font-size: 18px;
					line-height: 1;
				}

				li {
					padding: 10px 0;
					display: flex;
					align-items: center;

					&:first-child {
						padding-top: 0;
					}
				}

				a {
					color: $color_4;
					transition: 0.3s;
					display: inline-block;
					line-height: 1;

					&:hover {
						color: $color_5;
					}
				}
			}
		}

		.footer-contact {
			margin-bottom: 30px;

			p {
				line-height: 26px;
			}
		}
	}

	.copyright {
		text-align: center;
		padding-top: 30px;
	}

	.credits {
		padding-top: 10px;
		text-align: center;
		font-size: 13px;
		color: $color_4;

		a {
			color: $color_5;
		}
	}
}

@media (max-width: 1366px) {
	.navbar {
		.dropdown {
			.dropdown {
				ul {
					left: -90%;
				}

				&:hover {
					>ul {
						left: -100%;
					}
				}
			}
		}
	}
}

@media (max-width: 991px) {
	.mobile-nav-toggle {
		display: block;
	}

	.navbar {
		ul {
			display: none;
		}
	}
}

@media (min-width: 1024px) {
	#hero {
		p {
			width: 60%;
		}

		.carousel-control-prev {
			width: 5%;
		}

		.carousel-control-next {
			width: 5%;
		}
	}
}

@media (max-width: 768px) {
	#hero {
		&::after {
			width: 180%;
			height: 95%;
			border-radius: 0 0 50% 50%;
			transform: translateX(-50%) rotate(0deg);
		}

		&::before {
			top: 0;
			width: 180%;
			height: 94%;
			border-radius: 0 0 50% 50%;
			transform: translateX(-50%) translateY(20px) rotate(4deg);
		}
	}

	.breadcrumbs {
		.d-flex {
			display: block !important;
		}

		ol {
			display: block;

			li {
				display: inline-block;
			}
		}
	}
}

@media (max-width: 575px) {
	#hero {
		h2 {
			font-size: 30px;
		}

		&::after {
			left: 40%;
			top: 0;
			width: 200%;
			height: 95%;
			border-radius: 0 0 50% 50%;
			transform: translateX(-50%) rotate(0deg);
		}

		&::before {
			left: 50%;
			top: 0;
			width: 200%;
			height: 94%;
			border-radius: 0 0 50% 50%;
			transform: translateX(-50%) translateY(20px) rotate(4deg);
		}
	}

	#hero-no-slider {
		h2 {
			font-size: 30px;
		}
	}
}

@media (max-width: 992px) {
	.pricing {
		.box {
			max-width: 60%;
			margin: 0 auto 30px auto;
		}
	}
}

@media (max-width: 767px) {
	.pricing {
		.box {
			max-width: 80%;
			margin: 0 auto 30px auto;
		}
	}
}

@media (max-width: 420px) {
	.pricing {
		.box {
			max-width: 100%;
			margin: 0 auto 30px auto;
		}
	}
}